ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*li a:hover {
    background-color: #111;
}*/

#logo{
  position: relative;
  left: 46%;
  top: -10px;
}


#social{
  position: relative;
  left: 2%;
  top:  45px;
  z-index: 1;
}

#line {
    border-bottom:  solid #FFFFFF;
    position: relative;
    bottom: 27px;
}

#formtext{
font-size:1.3em;
}

#map{
  width: 308px;
  height: 305px;
  position: relative;
  top: -5px;
  border: 7px solid black;
}

input[type="text"],
input[type="email"],



textarea {
  background-color : #000000;
}

.form {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #000000;
    background-image: none;
    border: 1px solid #ccc;
    margin: -8px
}

#address{
  text-align: center;
  color: white;

}

#copyright{
  text-align: center;
  color: white;
  font-size: .83em;

}
