ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#logo{
  position: absolute;
  left: 34%;
  color: white;
  top:30px;
}

#logo1{
  position: relative;
  left: 22%;
  color:white;
  top:50px;
}

#line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-style: solid;
    border-bottom: thick solid rgba(156, 156, 156, 1);
    position: relative;
    bottom: 23px;
}
#map{
  width: 33%;
  height: 300px;
  position: relative;
  top: 60px;
}

#contact-form{
  position: relative;
  bottom: 190px;
}
